@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900 text-white min-h-screen;
  }
}

@layer utilities {
  .glass-morphic {
    @apply backdrop-blur-sm bg-white/5;
  }
}
